.react-tel-input {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    width: 100%
}

.react-tel-input :disabled {
    cursor: not-allowed
}

.react-tel-input .flag {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover;
}
.react-tel-input .ad {
    background-image: url('/images/flags/ad.svg');
}

.react-tel-input .ae {
    background-image: url('/images/flags/ae.svg');
}

.react-tel-input .af {
    background-image: url('/images/flags/af.svg');
}

.react-tel-input .ag {
    background-image: url('/images/flags/ag.svg');
}

.react-tel-input .ai {
    background-image: url('/images/flags/ai.svg');
}

.react-tel-input .al {
    background-image: url('/images/flags/al.svg');
}

.react-tel-input .am {
    background-image: url('/images/flags/am.svg');
}

.react-tel-input .an {
    background-image: url('/images/flags/an.svg');
}

.react-tel-input .ao {
    background-image: url('/images/flags/ao.svg');
}

.react-tel-input .aq {
    background-image: url('/images/flags/aq.svg');
}

.react-tel-input .ar {
    background-image: url('/images/flags/ar.svg');
}

.react-tel-input .as {
    background-image: url('/images/flags/as.svg');
}

.react-tel-input .at {
    background-image: url('/images/flags/at.svg');
}

.react-tel-input .au {
    background-image: url('/images/flags/au.svg');
}

.react-tel-input .aw {
    background-image: url('/images/flags/aw.svg');
}

.react-tel-input .ax {
    background-image: url('/images/flags/ax.svg');
}

.react-tel-input .az {
    background-image: url('/images/flags/az.svg');
}

.react-tel-input .ba {
    background-image: url('/images/flags/ba.svg');
}

.react-tel-input .bb {
    background-image: url('/images/flags/bb.svg');
}

.react-tel-input .bd {
    background-image: url('/images/flags/bd.svg');
}

.react-tel-input .be {
    background-image: url('/images/flags/be.svg');
}

.react-tel-input .bf {
    background-image: url('/images/flags/bf.svg');
}

.react-tel-input .bg {
    background-image: url('/images/flags/bg.svg');
}

.react-tel-input .bh {
    background-image: url('/images/flags/bh.svg');
}

.react-tel-input .bi {
    background-image: url('/images/flags/bi.svg');
}

.react-tel-input .bj {
    background-image: url('/images/flags/bj.svg');
}

.react-tel-input .bl {
    background-image: url('/images/flags/bl.svg');
}

.react-tel-input .bm {
    background-image: url('/images/flags/bm.svg');
}

.react-tel-input .bn {
    background-image: url('/images/flags/bn.svg');
}

.react-tel-input .bo {
    background-image: url('/images/flags/bo.svg');
}

.react-tel-input .br {
    background-image: url('/images/flags/br.svg');
}

.react-tel-input .bs {
    background-image: url('/images/flags/bs.svg');
}

.react-tel-input .bt {
    background-image: url('/images/flags/bt.svg');
}

.react-tel-input .bw {
    background-image: url('/images/flags/bw.svg');
}

.react-tel-input .by {
    background-image: url('/images/flags/by.svg');
}

.react-tel-input .bz {
    background-image: url('/images/flags/bz.svg');
}

.react-tel-input .ca {
    background-image: url('/images/flags/ca.svg');
}

.react-tel-input .cc {
    background-image: url('/images/flags/cc.svg');
}
.react-tel-input .km {
    background-image: url('/images/flags/km.svg');
}
.react-tel-input .bq {
    background-image: url('/images/flags/bq.svg');
}
.react-tel-input .gf {
    background-image: url('/images/flags/gf.svg');
}
.react-tel-input .gp {
    background-image: url('/images/flags/gp.svg');
}
.react-tel-input .kn {
    background-image: url('/images/flags/kn.svg');
}
.react-tel-input .cd {
    background-image: url('/images/flags/cd.svg');
}

.react-tel-input .cf {
    background-image: url('/images/flags/cf.svg');
}

.react-tel-input .cg {
    background-image: url('/images/flags/cg.svg');
}

.react-tel-input .ch {
    background-image: url('/images/flags/ch.svg');
}

.react-tel-input .ci {
    background-image: url('/images/flags/ci.svg');
}

.react-tel-input .ck {
    background-image: url('/images/flags/ck.svg');
}

.react-tel-input .cl {
    background-image: url('/images/flags/cl.svg');
}

.react-tel-input .cm {
    background-image: url('/images/flags/cm.svg');
}

.react-tel-input .cn {
    background-image: url('/images/flags/cn.svg');
}

.react-tel-input .co {
    background-image: url('/images/flags/co.svg');
}

.react-tel-input .cr {
    background-image: url('/images/flags/cr.svg');
}

.react-tel-input .cu {
    background-image: url('/images/flags/cu.svg');
}

.react-tel-input .cv {
    background-image: url('/images/flags/cv.svg');
}

.react-tel-input .cw {
    background-image: url('/images/flags/cw.svg');
}

.react-tel-input .cx {
    background-image: url('/images/flags/cx.svg');
}

.react-tel-input .cy {
    background-image: url('/images/flags/cy.svg');
}

.react-tel-input .cz {
    background-image: url('/images/flags/cz.svg');
}

.react-tel-input .de {
    background-image: url('/images/flags/de.svg');
}

.react-tel-input .dj {
    background-image: url('/images/flags/dj.svg');
}

.react-tel-input .dk {
    background-image: url('/images/flags/dk.svg');
}

.react-tel-input .dm {
    background-image: url('/images/flags/dm.svg');
}

.react-tel-input .do {
    background-image: url('/images/flags/do.svg');
}

.react-tel-input .dz {
    background-image: url('/images/flags/dz.svg');
}

.react-tel-input .ec {
    background-image: url('/images/flags/ec.svg');
}

.react-tel-input .ee {
    background-image: url('/images/flags/ee.svg');
}

.react-tel-input .eg {
    background-image: url('/images/flags/eg.svg');
}

.react-tel-input .eh {
    background-image: url('/images/flags/eh.svg');
}

.react-tel-input .er {
    background-image: url('/images/flags/er.svg');
}

.react-tel-input .es {
    background-image: url('/images/flags/es.svg');
}

.react-tel-input .et {
    background-image: url('/images/flags/et.svg');
}

.react-tel-input .eu {
    background-image: url('/images/flags/eu.svg');
}

.react-tel-input .fi {
    background-image: url('/images/flags/fi.svg');
}

.react-tel-input .fj {
    background-image: url('/images/flags/fj.svg');
}

.react-tel-input .fk {
    background-image: url('/images/flags/fk.svg');
}

.react-tel-input .fm {
    background-image: url('/images/flags/fm.svg');
}

.react-tel-input .fo {
    background-image: url('/images/flags/fo.svg');
}

.react-tel-input .fr {
    background-image: url('/images/flags/fr.svg');
}

.react-tel-input .ga {
    background-image: url('/images/flags/ga.svg');
}

.react-tel-input .gb {
    background-image: url('/images/flags/gb.svg');
}

.react-tel-input .gd {
    background-image: url('/images/flags/gd.svg');
}

.react-tel-input .ge {
    background-image: url('/images/flags/ge.svg');
}

.react-tel-input .gg {
    background-image: url('/images/flags/gg.svg');
}

.react-tel-input .gh {
    background-image: url('/images/flags/gh.svg');
}

.react-tel-input .gi {
    background-image: url('/images/flags/gi.svg');
}

.react-tel-input .gl {
    background-image: url('/images/flags/gl.svg');
}

.react-tel-input .gm {
    background-image: url('/images/flags/gm.svg');
}

.react-tel-input .gn {
    background-image: url('/images/flags/gn.svg');
}

.react-tel-input .gq {
    background-image: url('/images/flags/gq.svg');
}

.react-tel-input .gr {
    background-image: url('/images/flags/gr.svg');
}

.react-tel-input .gs {
    background-image: url('/images/flags/gs.svg');
}

.react-tel-input .gt {
    background-image: url('/images/flags/gt.svg');
}

.react-tel-input .gu {
    background-image: url('/images/flags/gu.svg');
}

.react-tel-input .gw {
    background-image: url('/images/flags/gw.svg');
}

.react-tel-input .gy {
    background-image: url('/images/flags/gy.svg');
}

.react-tel-input .hk {
    background-image: url('/images/flags/hk.svg');
}

.react-tel-input .hn {
    background-image: url('/images/flags/hn.svg');
}

.react-tel-input .hr {
    background-image: url('/images/flags/hr.svg');
}

.react-tel-input .ht {
    background-image: url('/images/flags/ht.svg');
}

.react-tel-input .hu {
    background-image: url('/images/flags/hu.svg');
}

.react-tel-input .ic {
    background-image: url('/images/flags/ic.svg');
}

.react-tel-input .id {
    background-image: url('/images/flags/id.svg');
}

.react-tel-input .ie {
    background-image: url('/images/flags/ie.svg');
}

.react-tel-input .il {
    background-image: url('/images/flags/il.svg');
}

.react-tel-input .im {
    background-image: url('/images/flags/im.svg');
}

.react-tel-input .in {
    background-image: url('/images/flags/in.svg');
}

.react-tel-input .io {
    background-image: url('/images/flags/io.svg');
}

.react-tel-input .iq {
    background-image: url('/images/flags/iq.svg');
}

.react-tel-input .ir {
    background-image: url('/images/flags/ir.svg');
}

.react-tel-input .is {
    background-image: url('/images/flags/is.svg');
}

.react-tel-input .it {
    background-image: url('/images/flags/it.svg');
}

.react-tel-input .je {
    background-image: url('/images/flags/je.svg');
}

.react-tel-input .jm {
    background-image: url('/images/flags/jm.svg');
}

.react-tel-input .jo {
    background-image: url('/images/flags/jo.svg');
}

.react-tel-input .jp {
    background-image: url('/images/flags/jp.svg');
}

.react-tel-input .ke {
    background-image: url('/images/flags/ke.svg');
}

.react-tel-input .kg {
    background-image: url('/images/flags/kg.svg');
}

.react-tel-input .kh {
    background-image: url('/images/flags/kh.svg');
}

.react-tel-input .ki {
    background-image: url('/images/flags/ki.svg');
}
.react-tel-input .xk {
    background-image: url('/images/flags/xk.svg');
}
.react-tel-input .kj {
    background-image: url('/images/flags/kj.svg');
}

.react-tel-input .kp {
    background-image: url('/images/flags/kp.svg');
}

.react-tel-input .kr {
    background-image: url('/images/flags/kr.svg');
}

.react-tel-input .kw {
    background-image: url('/images/flags/kw.svg');
}

.react-tel-input .ky {
    background-image: url('/images/flags/ky.svg');
}

.react-tel-input .kz {
    background-image: url('/images/flags/kz.svg');
}

.react-tel-input .la {
    background-image: url('/images/flags/la.svg');
}

.react-tel-input .lb {
    background-image: url('/images/flags/lb.svg');
}

.react-tel-input .lc {
    background-image: url('/images/flags/lc.svg');
}

.react-tel-input .li {
    background-image: url('/images/flags/li.svg');
}

.react-tel-input .lk {
    background-image: url('/images/flags/lk.svg');
}

.react-tel-input .lr {
    background-image: url('/images/flags/lr.svg');
}

.react-tel-input .ls {
    background-image: url('/images/flags/ls.svg');
}

.react-tel-input .lt {
    background-image: url('/images/flags/lt.svg');
}

.react-tel-input .lu {
    background-image: url('/images/flags/lu.svg');
}

.react-tel-input .lv {
    background-image: url('/images/flags/lv.svg');
}

.react-tel-input .ly {
    background-image: url('/images/flags/ly.svg');
}

.react-tel-input .ma {
    background-image: url('/images/flags/ma.svg');
}

.react-tel-input .mc {
    background-image: url('/images/flags/mc.svg');
}

.react-tel-input .md {
    background-image: url('/images/flags/md.svg');
}

.react-tel-input .me {
    background-image: url('/images/flags/me.svg');
}

.react-tel-input .mf {
    background-image: url('/images/flags/mf.svg');
}

.react-tel-input .mg {
    background-image: url('/images/flags/mg.svg');
}

.react-tel-input .mh {
    background-image: url('/images/flags/mh.svg');
}

.react-tel-input .mk {
    background-image: url('/images/flags/mk.svg');
}

.react-tel-input .ml {
    background-image: url('/images/flags/ml.svg');
}

.react-tel-input .mm {
    background-image: url('/images/flags/mm.svg');
}

.react-tel-input .mn {
    background-image: url('/images/flags/mn.svg');
}

.react-tel-input .mo {
    background-image: url('/images/flags/mo.svg');
}

.react-tel-input .mp {
    background-image: url('/images/flags/mp.svg');
}

.react-tel-input .mq {
    background-image: url('/images/flags/mq.svg');
}

.react-tel-input .mr {
    background-image: url('/images/flags/mr.svg');
}

.react-tel-input .ms {
    background-image: url('/images/flags/ms.svg');
}

.react-tel-input .mt {
    background-image: url('/images/flags/mt.svg');
}

.react-tel-input .mu {
    background-image: url('/images/flags/mu.svg');
}

.react-tel-input .mv {
    background-image: url('/images/flags/mv.svg');
}

.react-tel-input .mw {
    background-image: url('/images/flags/mw.svg');
}

.react-tel-input .mx {
    background-image: url('/images/flags/mx.svg');
}

.react-tel-input .my {
    background-image: url('/images/flags/my.svg');
}

.react-tel-input .mz {
    background-image: url('/images/flags/mz.svg');
}

.react-tel-input .na {
    background-image: url('/images/flags/na.svg');
}

.react-tel-input .nc {
    background-image: url('/images/flags/nc.svg');
}

.react-tel-input .ne {
    background-image: url('/images/flags/ne.svg');
}

.react-tel-input .nf {
    background-image: url('/images/flags/nf.svg');
}

.react-tel-input .ng {
    background-image: url('/images/flags/ng.svg');
}

.react-tel-input .ni {
    background-image: url('/images/flags/ni.svg');
}

.react-tel-input .nl {
    background-image: url('/images/flags/nl.svg');
}

.react-tel-input .no {
    background-image: url('/images/flags/no.svg');
}

.react-tel-input .np {
    background-image: url('/images/flags/np.svg');
}

.react-tel-input .nr {
    background-image: url('/images/flags/nr.svg');
}

.react-tel-input .nt {
    background-image: url('/images/flags/nt.svg');
}

.react-tel-input .nu {
    background-image: url('/images/flags/nu.svg');
}

.react-tel-input .nz {
    background-image: url('/images/flags/nz.svg');
}

.react-tel-input .om {
    background-image: url('/images/flags/om.svg');
}

.react-tel-input .pa {
    background-image: url('/images/flags/pa.svg');
}

.react-tel-input .pe {
    background-image: url('/images/flags/pe.svg');
}

.react-tel-input .pf {
    background-image: url('/images/flags/pf.svg');
}

.react-tel-input .pg {
    background-image: url('/images/flags/pg.svg');
}

.react-tel-input .ph {
    background-image: url('/images/flags/ph.svg');
}

.react-tel-input .pk {
    background-image: url('/images/flags/pk.svg');
}

.react-tel-input .pl {
    background-image: url('/images/flags/pl.svg');
}

.react-tel-input .pm {
    background-image: url('/images/flags/pm.svg');
}

.react-tel-input .pn {
    background-image: url('/images/flags/pn.svg');
}

.react-tel-input .pr {
    background-image: url('/images/flags/pr.svg');
}

.react-tel-input .ps {
    background-image: url('/images/flags/ps.svg');
}

.react-tel-input .pt {
    background-image: url('/images/flags/pt.svg');
}

.react-tel-input .pw {
    background-image: url('/images/flags/pw.svg');
}

.react-tel-input .py {
    background-image: url('/images/flags/py.svg');
}

.react-tel-input .qa {
    background-image: url('/images/flags/qa.svg');
}

.react-tel-input .re {
    background-image: url('/images/flags/re.svg');
}

.react-tel-input .ro {
    background-image: url('/images/flags/ro.svg');
}

.react-tel-input .rs {
    background-image: url('/images/flags/rs.svg');
}

.react-tel-input .ru {
    background-image: url('/images/flags/ru.svg');
}

.react-tel-input .rw {
    background-image: url('/images/flags/rw.svg');
}

.react-tel-input .sa {
    background-image: url('/images/flags/sa.svg');
}

.react-tel-input .sb {
    background-image: url('/images/flags/sb.svg');
}

.react-tel-input .sc {
    background-image: url('/images/flags/sc.svg');
}

.react-tel-input .sd {
    background-image: url('/images/flags/sd.svg');
}

.react-tel-input .se {
    background-image: url('/images/flags/se.svg');
}

.react-tel-input .sg {
    background-image: url('/images/flags/sg.svg');
}

.react-tel-input .sh {
    background-image: url('/images/flags/sh.svg');
}

.react-tel-input .si {
    background-image: url('/images/flags/si.svg');
}

.react-tel-input .sj {
    background-image: url('/images/flags/sj.svg');
}

.react-tel-input .sk {
    background-image: url('/images/flags/sk.svg');
}

.react-tel-input .sl {
    background-image: url('/images/flags/sl.svg');
}

.react-tel-input .sm {
    background-image: url('/images/flags/sm.svg');
}

.react-tel-input .sn {
    background-image: url('/images/flags/sn.svg');
}

.react-tel-input .so {
    background-image: url('/images/flags/so.svg');
}

.react-tel-input .sr {
    background-image: url('/images/flags/sr.svg');
}

.react-tel-input .ss {
    background-image: url('/images/flags/ss.svg');
}

.react-tel-input .st {
    background-image: url('/images/flags/st.svg');
}

.react-tel-input .sv {
    background-image: url('/images/flags/sv.svg');
}

.react-tel-input .sx {
    background-image: url('/images/flags/sx.svg');
}

.react-tel-input .sy {
    background-image: url('/images/flags/sy.svg');
}

.react-tel-input .sz {
    background-image: url('/images/flags/sz.svg');
}

.react-tel-input .tc {
    background-image: url('/images/flags/tc.svg');
}

.react-tel-input .td {
    background-image: url('/images/flags/td.svg');
}

.react-tel-input .tf {
    background-image: url('/images/flags/tf.svg');
}

.react-tel-input .tg {
    background-image: url('/images/flags/tg.svg');
}

.react-tel-input .th {
    background-image: url('/images/flags/th.svg');
}

.react-tel-input .tj {
    background-image: url('/images/flags/tj.svg');
}

.react-tel-input .tk {
    background-image: url('/images/flags/tk.svg');
}

.react-tel-input .tl {
    background-image: url('/images/flags/tl.svg');
}

.react-tel-input .tm {
    background-image: url('/images/flags/tm.svg');
}

.react-tel-input .tn {
    background-image: url('/images/flags/tn.svg');
}

.react-tel-input .to {
    background-image: url('/images/flags/to.svg');
}

.react-tel-input .tr {
    background-image: url('/images/flags/tr.svg');
}

.react-tel-input .tt {
    background-image: url('/images/flags/tt.svg');
}

.react-tel-input .tv {
    background-image: url('/images/flags/tv.svg');
}

.react-tel-input .tz {
    background-image: url('/images/flags/tz.svg');
}

.react-tel-input .ua {
    background-image: url('/images/flags/ua.svg');
}

.react-tel-input .ug {
    background-image: url('/images/flags/ug.svg');
}

.react-tel-input .uk {
    background-image: url('/images/flags/uk.svg');
}

.react-tel-input .us {
    background-image: url('/images/flags/us.svg');
}

.react-tel-input .uy {
    background-image: url('/images/flags/uy.svg');
}

.react-tel-input .uz {
    background-image: url('/images/flags/uz.svg');
}

.react-tel-input .va {
    background-image: url('/images/flags/va.svg');
}

.react-tel-input .vc {
    background-image: url('/images/flags/vc.svg');
}

.react-tel-input .ve {
    background-image: url('/images/flags/ve.svg');
}

.react-tel-input .vg {
    background-image: url('/images/flags/vg.svg');
}

.react-tel-input .vi {
    background-image: url('/images/flags/vi.svg');
}

.react-tel-input .vn {
    background-image: url('/images/flags/vn.svg');
}
.react-tel-input .tw {
    background-image: url('/images/flags/tw.svg');
}

.react-tel-input .vu {
    background-image: url('/images/flags/vu.svg');
}

.react-tel-input .wf {
    background-image: url('/images/flags/wf.svg');
}

.react-tel-input .ws {
    background-image: url('/images/flags/ws.svg');
}

.react-tel-input .ye {
    background-image: url('/images/flags/ye.svg');
}

.react-tel-input .yt {
    background-image: url('/images/flags/yt.svg');
}

.react-tel-input .za {
    background-image: url('/images/flags/za.svg');
}

.react-tel-input .zm {
    background-image: url('/images/flags/zm.svg');
}

.react-tel-input .zw {
    background-image: url('/images/flags/zw.svg');
}


.react-tel-input * {
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.react-tel-input .hide {
    display: none
}

.react-tel-input .v-hide {
    visibility: hidden
}

.react-tel-input .form-control {
    background: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: .5rem 15px .5rem 58px;
    transition: box-shadow ease .25s, border-color ease .25s
}

.react-tel-input .form-control:hover {
    border-color: #000
}

.react-tel-input .form-control:focus {
    border-color: #1976d2;
    box-shadow: 0 0 0 1px #1976d2
}

.react-tel-input .form-control:focus+div:before {
    color: #1976d2
}

.react-tel-input .form-control.invalid-number {
    border: 1px solid #f44336
}

.react-tel-input .form-control.invalid-number:focus {
    box-shadow: 0 0 0 1px #f44336
}

.react-tel-input .form-control.invalid-number+div:before {
    content: 'Error';
    display: none;
    color: #f44336;
    width: 27px
}

.react-tel-input .flag-dropdown {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    border-radius: 3px 0 0 3px
}

.react-tel-input .flag-dropdown:hover,
.react-tel-input .flag-dropdown:focus {
    cursor: pointer
}

.react-tel-input .flag-dropdown.open {
    z-index: 2
}

.react-tel-input input[disabled]+.flag-dropdown:hover {
    cursor: default;
    border-color: #CACACA
}

.react-tel-input input[disabled]+.flag-dropdown:hover .selected-flag {
    background-color: transparent
}

.react-tel-input .selected-flag {
    outline: none;
    position: relative;
    width: 52px;
    height: 100%;
    padding: 0 0 0 11px;
    border-radius: 3px 0 0 3px
}

.react-tel-input .selected-flag:focus .arrow {
    border-left-width: 4px;
    border-right-width: 4px;
    border-top: 5px solid #1976d2
}

.react-tel-input .selected-flag .flag {
    position: absolute;
    top: 50%;
    margin-top: -12px
}

.react-tel-input .selected-flag .arrow {
    position: relative;
    top: 50%;
    margin-top: -1px;
    left: 29px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555
}

.react-tel-input .selected-flag .arrow.up {
    border-top: none;
    border-bottom: 4px solid #555
}

.react-tel-input .country-list {
    outline: none;
    z-index: 1;
    list-style: none;
    position: absolute;
    padding: 0;
    text-align: left !important;
    margin: 0px;
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 300px;
    max-height: 220px;
    overflow-y: scroll;
    border-radius: 7px
}

.react-tel-input .country-list .flag {
    display: inline-block;
    position: absolute;
    left: 13px;
    top: 8px
}

.react-tel-input .country-list .divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc
}

.react-tel-input .country-list .country {
    position: relative;
    padding: 8px 9px 9px 46px;
    border-bottom: 1px solid #f1f1f1;
}

.react-tel-input .country-list .country .dial-code {
    color: #6b6b6b
}

.react-tel-input .country-list .country:hover {
    background-color: #f1f1f1
}

.react-tel-input .country-list .country.highlight {
    background-color: #f1f1f1
}

.react-tel-input .country-list .flag {
    margin-right: 7px;
    margin-top: 7px
}

.react-tel-input .country-list .country-name {
    margin-right: 6px;
    color: #505050;
}

.react-tel-input .country-list .search {
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px 0 6px 10px;
    width: 98%;
}

.react-tel-input .country-list .search-emoji {
    font-size: 0px;
    position: absolute;
    top: 11px;
    width: 45px;
    border-right: 1px solid #6b7280;
    padding: 3px 16px;
    background: url(https://cdn.triptotemples.com/images/new-icons/icon-search.svg) no-repeat;
    background-position: 20px 10px;
    display: inline-block;
}

.react-tel-input .country-list .search-box {
    border: 1px solid #6b7280;
    border-radius: .375rem;
    font-size: 15px;
    line-height: 15px;
    margin-left: 6px;
    width: 94%;
    padding: 8px 8px 8px 45px !important;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    outline: none
}

.react-tel-input .country-list .search-box:hover {
    border-color: #505050
}

.react-tel-input .country-list .no-entries-message {
    padding: 7px 10px 11px;
    opacity: .7
}

.react-tel-input .invalid-number-message {
    position: absolute;
    z-index: 1;
    font-size: 13px;
    left: 25px;
    top: -7px;
    background: #fff;
    padding: 0 5px;
    color: #de0000
}

.react-tel-input .special-label {
    position: absolute;
    z-index: 1;
    top: -7px;
    left: 25px;
    display: none;
    background: white;
    padding: 0 5px;
    font-size: 13px;
    white-space: nowrap
}